<div class="information">
<h2>スケジュール一覧</h2>
<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>
</div>
<table>
<tr>
  <th class="id">ID</th>
  <th class="title">タイトル</th>
  <th class="start">  開始日   </th>
  <th class="end">   終了日   </th>
  <th class="endday">   終日   </th>
  <th>スケジュール更新日時</th>
  <th>確認</th>
  <th>編集</th>
  <th>削除</th>
</tr>
</table>
<table>
<tbody>
     
<% @posts.each do |post| %>
<tr>
  <td><%= post.id %></td>
  <td><%= post.title %></td>
  <td><%= post.startdate %></td>
  <td><%= post.enddate %></td>
  <td>
    <% if post.checkbox == true %>
     ○
    <% else post.checkbox == false %>
           
    <% end %>
  </td>
  <td class="time"><%= post.updated_at.to_s(:datetime_jp) %></td>
  <td>
    <%= link_to "確認", post %>
  </td>
  <td>
    <%= link_to "編集", [:edit, post] %>
  </td>
  <td>
    <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </td>
 </tr>
<% end %>
</tbody>
</table>
 
 <p><%= link_to "スケジュール新規登録", :new_post %></p>